/* App.css
/* ---------------------------------------------------------- /*

These are just some base styles to get you started. You delete
these and start over using your toolset of choice, or evolve
what's here to work the way you'd like it to.

# Table of Contents

- Vars
- Reset
- Defaults
- Layout
- Tag Archives
- Author Archives
- Pagination
- Footer

/* Variables
/* ---------------------------------------------------------- */

:root {

    /* Colours */
    --color-primary: #0079bb;
    --color-base: #15171A;
    --color-secondary: #6d747a;
    --color-border: #c7d5d8;
    --color-bg:#f8f8f8;

    /* Fonts */
    --font-sans-serif: "Spoqa Han Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: "Monaco", monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.6rem;

}


/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    background-color: var(--color-bg);
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
i,
em,
dfn {
    font-style: italic;
}
h1 {
    margin: 0.67em 0;
    font-size: 1.4rem;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
    font-family: "Monaco", monospace;
    font-size: 0.9rem;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit;
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;

    -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box;

    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}


/* Defaults
/* ---------------------------------------------------------- */

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 16px;
    background: var(--color-bg);
    font-size: 1rem;
    font-family: var(--font-sans-serif);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    overflow-x: hidden;
    color:var(--color-base);
    font-family: "Spoqa Han Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: var(--color-bg);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    text-shadow: none;
    background: #cbeafb;
}

hr {
    position: relative;
    display: block;
    width: 80px;
    margin: 60px 0;
    /* margin: 1.8em 0 2.4em; */
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #13A4F2;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0;
}

p, blockquote, ul, ol, dl, dt, dd, li {
    font-size: 1rem;
    font-family: var(--font-sans-serif);
    line-height: 2;
    margin: 20px 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 0.3em 0 1.8em;
    padding: 0 1.6em 0 1.6em;
    border-left: #a0b4c0 0.5em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
    font-weight: 300;
    color:rgb(101, 105, 109)
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    color: #26a8ed;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: var(--color-base);
    line-height: 1.15;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 1.6rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    h1 {
        font-size: 1.4rem;
    }
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.8rem;
}
@media (max-width: 500px) {
    h2 {
        font-size: 1.8rem;
    }
}

h3 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.6rem;
    font-weight: 700;
}
@media (max-width: 700px) {
    h3 {
        font-size: 1.6rem;
    }
}

h4 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.6rem;
    font-weight: 500;
}

h5 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

pre code {
    padding: 20px !important;
    border-radius: 4px;
    line-height: 1.6;
    font-size: 0.9rem !important;
    margin: 40px 0;
}

code {
    background: #f0f2f5;
    color: #ce0041;
    padding: 2px 4px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    font-size: 0.8rem;
  }
  code a {
    color: #ce0041;
  }

  .none-underline:hover {
    text-decoration: none;
  }

/* Layout
/* ---------------------------------------------------------- */

.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.lnb-wrap {
  background-color: var(--color-bg);
    /* width: 25%; */
}
.content-wrap {
    width: 75%;
}

.container {
    width: 100%;
    /* max-width: 1120px; */
    margin: 40px 0 0 0;
    padding: 40px;
}

.content {
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.7em;
}

.post-full-content {
    max-width: 720px;
    margin: 0 auto;
    background: #fff;
}

.post-feature-image img {
    margin: 0 0 3vw;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
    color: var(--color-base);
    font-family: var(--font-sans-serif);
}

.content-body h1 {
    margin: 1.0em 0 0.5em 0;
    font-size: 2.4rem;
    font-weight: 700;
}

/* Header
/* ---------------------------------------------------------- */
.site-head {
  display: none;
}

@media screen and (max-width: 800px) {
  .site-head {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: var(--color-bg);
    position: fixed;
    z-index: 1;
    right: 0;
  }
}


/* Lnb navigation
/* ---------------------------------------------------------- */

.lnb-bg {
    background-color: var(--color-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 25%;
    height: 100vh; }
.lnb-nav {
    width: 25%;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #248bc2; 
    transition: all 1s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row-reverse;
    align-content: flex-start;
}

.site-lnb-nav {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.site-lnb-nav-item {
    display: block;
    color: #fff;
    width: 100%;
    text-align: right;
    font-size: 1rem;
    margin-bottom: 10px;
}

.site-lnb-nav a:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.site-lnb-nav-right a {
    display: inline-block;
    padding: 2px 5px;
}

.site-lnb-nav-right a:last-child {
    padding-right: 0;
}

.lnb-message {
    font-size: 0.6rem;
    color: #fff;
    width: 80px;
    text-align: right;
}

/* Main
/* ---------------------------------------------------------- */

.site-main {
    padding: 4vw 0;
}

/* Index
/* ---------------------------------------------------------- */

.post-feed {
    display: flex;
    flex-wrap: wrap;
}
.post-feed a {
    text-decoration: none;
}


/* Post content
/* ---------------------------------------------------------- */

.post-container {
    width: 1280px;
  }
  
  .post-wrapper {
    width: 900px;
    padding: 40px;
    margin-top: 50px;
  }

  .post-tags-title {
    font-size: 0.8rem;
    color: #888888;
    font-weight: 600;
    margin: 40px 0 0 0;
  }
  .post-tags-title a, .post-tags a {
    color: #0079bb;
    font-weight: bold;
  }
  .post-header {
    margin: 0 0 50px;
    padding: 0 0 80px;
  }
  .tags-title {
    display: inline;
    font-size: 0.8rem;
    color: var(--color-primary);
    font-weight: 600;
    padding: 0 !important;
    margin: 0;
  }
  .tags-title a {
    font-size: 0.8rem;
    color:var(--color-primary);
    font-weight: 600;
    display: inline !important;
    padding: 0 !important;
  }
  .post-title,
  .page-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 15px 0;
  }
  /* .post-title::after,
  .page-title::after {
    content: '.';
    font-size: 2rem;
    font-weight: 700;
    color:var(--color-primary);
  } */
  
  
  .page-title {
    margin: 15px 0;
  }
  
  .post-date,
  .blog-description {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin: 25px 0 0;
  }
  .post-date a,
  .blog-description a {
    color: #757575;
  }
  .post-date a:hover,
  .blog-description a:hover {
    color: #888888;
  }

  .post-content p {
    font-family: 'Noto Serif CJK';
    font-weight: 300;
    margin-bottom: 30px;
    /* letter-spacing: 0.2px; */
  }

  .post-content a {
    color: #0079bb;
  }
  .post-content a:hover {
    /* border-bottom: 1px solid #0079bb; */
    color: #0079bb;
    padding: 0 0 2px;
  }
  .post-content:last-child {
    margin-bottom: 0;
  }
  .post-content h1, h2, h3, h4 {
    margin-top: 40px;
    word-break: keep-all;
  }
  .post-footer {
    margin-top: 5px;
    font-size: 0.9rem;
  }
  .post-tags,
  .share {
    color: #757575;
    font-size: 14px;
  }
  .post-tags span,
  .share span {
    font-weight: 600;
  }
  .post-tags {
    margin: 10px 0 0;
  }
  .post-full-content pre {
    border: 1px solid #e1e4e8;
    font-size: 1rem;
  }
  .utterances {
    width: 100% !important;
    max-width: 100%;
    margin-top: 40px;
  }
  .prev-next-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .prev-next-wrap a{
    color: #212121;
  }
  .prev-next-wrap a:hover {
    text-decoration: none;
  }
  .prev-next {
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    width: 440px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
  }
  .prev-next-tag {
    display: block;
    font-size: 0.8rem;
    color: #ce0041
  }
  .prev-next-title {
    font-size: 1rem;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    font-weight: bold;
    margin: 10px 0 20px 0;
  }
  .prev-next-excerpt {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.4;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .post-list-wrap {
    width: 900px
  }




/* Tag Archives
/* ---------------------------------------------------------- */

.tag-header {
    max-width: 690px;
    margin: 0 0 4vw;
}

.tag-header h1 {
    margin: 0 0 1rem 0;
}

.tag-header p {
    margin: 0;
    color: var(--color-secondary);
    font-size: 2.2rem;
    line-height: 1.3em;
}

@media (max-width: 500px) {
    .tag-header {
        border-bottom: var(--color-bg) 1px solid;
        padding-bottom: 4vw;
    }
    .tag-header p {
        font-size: 1.7rem;
    }
}


/* Author Archives
/* ---------------------------------------------------------- */

.author-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4vw;
}

.author-header h1 {
    margin: 0 0 1rem 0;
}

.author-header p {
    margin: 0;
    color: var(--color-secondary);
    font-size: 2.2rem;
    line-height: 1.3em;
}

.author-header-image {
    flex: 0 0 auto;
    margin: 0 0 0 4vw;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.author-header-meta {
    display: flex;
    margin: 1rem 0 0 0;
}

.author-header-item {
    display: block;
    padding: 2px 10px;
}

.author-header-item:first-child {
    padding-left: 0;
}

@media (max-width: 500px) {
    .author-header {
        border-bottom: var(--color-bg) 1px solid;
        padding-bottom: 4vw;
    }
    .author-header p {
        font-size: 1.7rem;
    }
    .author-header-image {
        height: 80px;
        width: 80px;
    }
}


/* Pagination
/* ---------------------------------------------------------- */

.pagination {
    position: relative;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    margin: 4vw 0 0;
}

.pagination a {
    display: inline-block;
    /* padding: 10px 15px; */
    color: var(--color-base);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1em;
}

.pagination-link {
    display: inline-block;
    /* padding: 10px 15px; */
    color: var(--color-base);
    text-decoration: underline;
    font-size: 1rem;
    line-height: 1em;
}
.pagination-nolink {
  display: inline-block;
    /* padding: 10px 15px; */
    color: var(--color-border);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1em;
}
.pagination-box {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.pagination-location {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--color-secondary);
    font-size: 1rem;
}


/* Footer
/* ---------------------------------------------------------- */

.site-foot {
    padding: 20px 0 40px 0;
    color: var(--color-base);
    font-size: 0.8rem;
    background: var(--color-bg);
}
.site-foot-nav {
    width: 100%;
    display: flex;
}
.site-foot-nav a {
    display: block;
    margin-bottom: 10px;
    color: var(--color-base);
}
.site-foot-nav a:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
}
.site-foot-nav-left {
    width: 100%;
}



/* Koenig Styles
/* ---------------------------------------------------------- */

.kg-bookmark-card {
    width: 100%;
    margin-top: 0;
}

.kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: var(--color-base);
    font-family: var(--font-sans-serif);
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid var(--color-border)
    /* box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09); */
}

.kg-bookmark-container:hover {
    color: var(--color-base);
    text-decoration: none;
    /* box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09); */
}

.kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.kg-bookmark-title {
    color: var(--color-base);
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.kg-bookmark-container:hover .kg-bookmark-title {
    color: var(--color-base);
}

.kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    max-height: 48px;
    color: var(--color-base);
    font-size: 0.8rem;
    line-height: 1.5em;
    font-weight: 400;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;

    object-fit: cover;
}

.kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    font-size: 0.8rem;
    color: var(--color-base);
    font-weight: 400;
}

.kg-bookmark-icon {
    margin-right: 8px;
    width: 22px;
    height: 22px;
}

.kg-bookmark-author {
    line-height: 1.5em;
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
}

.kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Gallery Styles
/* ---------------------------------------------------------- */
.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100%;
  }
  
  .kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  
  .kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
  }
  
  .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
  }
  
  .kg-gallery-card + .kg-image-card.kg-width-wide,
  .kg-gallery-card + .kg-gallery-card,
  .kg-image-card.kg-width-wide + .kg-gallery-card,
  .kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
  }

/* *********************** */
/* dark mode */
/* *********************** */
.darkmode {
    background: #212121;
    color: #ffffff
  }
  .darkmode .site-foot {
    background: #212121;
  }
  .darkmode .site-head {
      background: #212121;
  }
  .darkmode .post-stub-date,
  .darkmode .post-stub-date a {
    color: #24292e;
  }
  .darkmode .menu-wrapper .menu a,
  .darkmode .index-box-wrapper .menu a,
  .darkmode .post-menu a,
  .darkmode .index-box a,
  .darkmode .post-date,
  .darkmode .post-date a,
  .darkmode .post-card-link,
  .darkmode .post-card-title,
  .darkmode .post-card-date,
  .darkmode .post-card .post-card-excerpt,
  .darkmode .post-title,
  .darkmode .content-title,
  .darkmode .post-content h1,
  .darkmode .post-content h2, 
  .darkmode .post-content h3, 
  .darkmode .post-content h4, 
  .darkmode .post-content h5, 
  .darkmode .post-content h6, 
  .darkmode .footer-copyright,
  .darkmode .prev-next-wrap a,
  .darkmode .footer-copyright a,
  .darkmode .index-box-wrapper a,
  .darkmode .site-foot-nav,
  .darkmode .site-foot-nav-item,
  .darkmode .site-foot-nav-left {
    color: #ffffff;
  }
  .darkmode menu-wrapper .menu a:hover,
  .darkmode .index-box-wrapper .menu a:hover
  .darkmode .post-menu a:hover,
  .darkmode .post-date a:hover,
  .darkmode .footer-copyright a:hover,
  .darkmode .index-box-wrapper a:hover {
    color: rgba(255, 255, 255, 0.2)
  }
  .darkmode p {
    color: #ffffff;
  }
  .darkmode
  .darkmode figcaption {
    color: rgba(255, 255, 255, 0.8);
  }
  .darkmode blockquote {
    background: rgba(255, 255, 255, 0.1);
    border: 1px sold rgba(255, 255, 255, 0.5);
  }
  .darkmode .post-tags-title a, 
  .darkmode .post-tags a,
  .darkmode .tags-title,
  .darkmode .tags-title a {
    color: #4bace0;
  }
  .darkmode .kg-bookmark-container {
    background: #eee;
  }
  .darkmode .darkbulb {
    color: rgba(255, 255, 255, 0.4)
  }
  .darkmode .mode-gnb {
    background: #212121;
    opacity: 0.8;
  }
  
  .darkmode .none-underline div,
  .darkmode .none-underline h2 {
    color: #f8f8f8;
  }
    .darkmode .lnb-bg {
      background: #002e49
  }
  .darkmode .lnb-nav {
      background: #004770;
  }
  
  






  /* toggle button */
.btn-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background:#212121;
    display:  flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.toggle-button {
    font-size: 15px;
    color: #fff !important;
    display: inline-block;
    /* margin: 4.3px 2px;  */
  }
    .toggle-button .toggle-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 22px;
      cursor: pointer;
      position: relative;
      background-color: #212121;
      border-radius: 20px; }
      .toggle-button .toggle-bg .click {
        background-color: #fff;
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        position: absolute;
        left: 2px;
        bottom: 2px;
        transition: all 0.4s ease; }
      .toggle-button .toggle-bg .click.dark {
        transform: translateX(20px); }
.darkmode .toggle-button .toggle-bg {
    background-color: rgba(255, 255, 255, 0.5)}
.darkmode .toggle-button .toggle-bg .click {
    background: #212121;
}


@media only screen and (max-width: 2400px) {
    .left-wrap, .lnb-bg, .lnb-wrap {
        width: 15%;
    }
    .site-head {
        width: 85%;
    }
    .post-wrapper {
        padding: 20px;
    }
}

@media only screen and (max-width: 1500px) {
    .left-wrap, .lnb-bg, .lnb-wrap {
        width: 15%;
    }
    .site-head {
        width: 85%;
    }
    .content-wrap {
        width: 85%;
    }
    .site-main {
        width: 100%;
    }
    .post-card:nth-child(odd),
    .post-card:nth-child(even) {
        width: 100%;
    }
    .post-container {
      width: calc(100% - 400px);
    }
    .post-wrapper {
        width: 100%;
        margin: 60px 0 0 0;
        padding: 0;
    }
    .index-box-wrapper {
        display: none;
    }

}
@media only screen and (max-width: 800px) {
    .site-head {
        width: 100%;
    }
    .left-wrap, .lnb-wrap {
        display: none;
    }
    .lnb-nav {
        background: var(--color-primary);
        width: 70%;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.6s ease-in-out; 
    }
    .lnb-nav.open {
        transform: translateX(70%)
    }
    .content-wrap {
        width: 100%;
    }
    .container {
        padding: 20px;
    }
    .post-container {
      margin: 0;
      width: 100%;
      padding: 20px;
    }
    .post-wrapper {
        width: 100%;
        padding: 0;
        margin: 60px 0 0 0;
    }
    .post-title {
        font-size: 1.2rem;
    }
    .content-body p, li, blockquote {
        line-height: 1.8;
        font-size: 0.9rem;
    }
    .post-card:nth-child(odd),
    .post-card:nth-child(even) {
        width: 100%;
    }
    .post-content h2 {
      font-size: 1.2rem;
    }
    .post-content h1 {
      font-size: 1.2rem;
    }
}

/* index-box */

.index-box-wrapper {
    width: 300px;
  }
  .index-box {
    width: 300px;
    position: fixed;
    top: 200px;
    border-left: 1px solid #e1e4e8;
  }
  .index-box a {
    color: var(--color-base);
  }
  .index-box a:hover {
    color: #888;
    text-decoration: none;
    font-weight: 600;
  }
  .index-box ul {
    list-style: none;
    padding: 0;
    margin: 0px;
  }
  .index-box li {
    margin: 15px;
    line-height: 1.4;
    
  }
  .index-box .H1 a,
  .index-box .H1 strong {
    font-size: 0.9rem;
    font-weight: 700;
    font-weight: 400;
  }
  .index-box .H2 a,
  .index-box .H2 strong {
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 0px;
  }
  .index-box .H3 a,
  .index-box .H3 strong {
    font-size: 0.7rem;
    font-weight: 400;
    padding-left: 10px;
  }