
/* main */
.post-card {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  justify-content: space-between;
  background-color: #e3e9f0;
}
.post-card:hover {
  background: #7cb3d1;
}
.post-card:nth-child(even) {
  width: 600px;
  background-color: rgb(218, 232, 247);
}
.post-card:nth-child(1):hover {
  background: rgb(189, 210, 223);
}
.post-card:nth-child(1) {
  width: 600px;
  background-color: #fff;
}
.post-card:nth-child(2):hover {
  background: rgb(66, 157, 231);
}
.post-card:nth-child(2) {
  width: 600px;
  background-color: #eee;
}
.post-card:nth-child(3):hover {
  background: #b4def5;
}
.post-card:nth-child(3) {
  width: 300px;
  background: #b1c6d8;
}
.post-card:nth-child(4):hover {
  background: #65a4c9;
}
.post-card:nth-child(4) {
  width: 600px;
  background-color: #ddd;
}
.post-card:nth-child(5):hover {
  background:#579ada
}
.post-card:nth-child(5) {
  width: 300px;
  background: #d8e8f9;
}
.post-card:nth-child(6):hover {
  background: rgb(191, 201, 218);
}
.post-card:nth-child(6) {
  background-color: #eceff1;
}
.post-card:nth-child(7):hover {
  background: #4eb1e6;
}
.post-card:nth-child(7) {
  width: 600px;
  background-color: #ffffff;
}
.post-card:nth-child(8):hover {
  background: rgb(152, 169, 185);
}
.post-card:nth-child(8) {
  width: 300px;
  background-color: rgb(192, 220, 233);
}
.post-card:nth-child(9):hover {
  background-color: rgb(54, 133, 197);
}
.post-card:nth-child(9) {
  width: 600px;
  background: rgb(147, 193, 231);
}

.post-card-tags {
  display: inline;
  font-size: 0.8rem;
  color: #0079bb;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.post-card-title {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.2;
}
.post-card-excerpt {
  font-size: 0.8rem;
    line-height: 1.5;
    color: #24292e;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}